# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Node / React
frontend/node_modules/
frontend/dist/

# Docker
*.log
docker-compose.override.yml

# System
.DS_Store
.vscode/
.idea/

# Do NOT commit hooks
.git/hooks/*
!git-hooks-examples/
